.kaufman__tringle {
  position: absolute;
  background-image: url(../../../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: 877px 877px;
  right: -210px;
  z-index: 1;
  width: 877px;
  height: 877px;
}
