.aa {
  width: 270px;
  height: 38px;
}

.resources__logo {
  width: 270px;
  height: 38px;
  opacity: 1;
  transition: opacity 3.3s;
  -webkit-transition: opacity 3.3s;
  -o-transition: opacity 3.3s;
  -moz-transition: opacity 3.3s;
}

.resources__logo:hover {
  opacity: 0.45;
}
